
<div class="container col-sm-12 col-md-10">
  <div class="card-header" style="text-align: center; font-weight: bold;">
    {{titulo}}
</div>
<form [formGroup]="registroVehiculoForm" (ngSubmit)="crear()">
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="inputPlaca">Placa</label>
        <input type="text" class="form-control" id="inputPlaca" placeholder="Placa" formControlName="placa">
      </div>
      <div class="form-group col-sm-6">
        <label for="inputNumeroMotor">Número motor</label>
        <input type="text" class="form-control" id="inputNumeroMotor" placeholder="Número motor" formControlName="numeroMotor">
      </div>
      <div class="form-group col-sm-6">
        <label for="inputNumeroChasis">Número chasis</label>
        <input type="text" class="form-control" id="inputNumeroChasis" placeholder="Número chasis" formControlName="numeroChasis">
      </div>
      <div class="form-group col-sm-6">
        <label for="inputModelo">Modelo</label>
        <input type="number" class="form-control" id="inputModelo" placeholder="Modelo" formControlName="modelo">
      </div>
      <div class="form-group col-sm-6">
        <label for="inputToneladas">Toneladas</label>
        <input type="number" class="form-control" id="inputToneladas" placeholder="Toneladas" formControlName="toneladas">
      </div>
      <div class="form-group col-sm-12">
        <label for="inputMarca">Marca</label>
        <input type="text" class="form-control" id="inputMarca" placeholder="Marca" formControlName="marca">
      </div>
      <div class="form-group col-md-12">
        <label for="inputTipoVehiculo">Tipo Vehiculo</label>
        <select id="inputTipoVehiculo" class="form-control" formControlName="tipoVehiculo">
          <option selected>Tipo Vehiculo...</option>
          <option value=1>Carroceria</option>
          <option value=2>Planchon</option>
          <option value=3>Grua</option>
          <option value=4>Furgon</option>
        </select>
      </div>
    </div>
    <br>
    <div style="text-align: center;">
      <button type="submit" class="btn btn-primary">Registrar Vehiculo</button>
    </div>
  </form>
</div>
